<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes de Tipos de Vacuna</title>
    <link rel="stylesheet" href="../static/css/informes.css">
</head>
<body>
    <div class="header bg-white shadow-md p-4 flex items-center justify-between">
        <a href="{{ url_for('inicio') }}">
            <img alt="Logo Ganaderos Unidos" class="h-16" height="100" src="../static/imagenes/Logo-pagina.png" width="100"/>
        </a>
        <h1 class="text-2xl font-bold text-gray-800">Informes de Tipos de Vacuna</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo_vacuna in tipos_vacuna %}
                <tr>
                    <td>{{ tipo_vacuna.idTipoVacuna }}</td>
                    <td>{{ tipo_vacuna.descripcionVacuna }}</td>
                    <td>{{ 'Activo' if tipo_vacuna.estado == 1 else 'Inactivo' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>