<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes de Tratamientos</title>
    <link rel="stylesheet" href="../static/css/informes.css">
</head>
<body>
    <div class="header bg-white shadow-md p-4 flex items-center justify-between">
        <a href="{{ url_for('inicio') }}">
            <img alt="Logo Ganaderos Unidos" class="h-16" height="100" src="../static/imagenes/Logo-pagina.png" width="100"/>
        </a>
        <h1 class="text-2xl font-bold text-gray-800">Informes de Tratamientos</h1>
        <div class="max-w-4xl mx-auto mt-6 flex justify-between">
            <a href="{{ url_for('inicio') }}" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 transition duration-300">Ir a Inicio</a>
            <a href="{{ url_for('registrar_tratamiento') }}" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">Registrar Tratamiento</a>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Diagnóstico</th>
                    <th>Historial ID</th>
                    <th>Veterinario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for tratamiento in tratamientos %}
                <tr>
                    <td>{{ tratamiento.idTratamientos }}</td>
                    <td>{{ tratamiento.fechaTratamiento }}</td>
                    <td>{{ tratamiento.diagnosticoTratamiento }}</td>
                    <td>{{ tratamiento.idHistorial }}</td>
                    <td>{{ tratamiento.nombreVeterinario }}</td>
                    <td>{{ 'Activo' if tratamiento.estado == 1 else 'Inactivo' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>