<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informes del historial del animal</title>
    <link rel="stylesheet" href="../static/css/informes.css">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('inicio') }}">
            <img alt="Logo Ganaderos Unidos " class="h-16" height="100" src="../static/imagenes/Logo-pagina.png" width="100"/>
        </a>
        <h1>informes del historial del animal</h1>
        <div class="max-w-4xl mx-auto mt-6 flex justify-between">
            <a href="{{ url_for('inicio') }}" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 transition duration-300">Ir a Inicio</a>
            <a href="{{ url_for('registrar_historial_animal') }}" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">Registrar historial</a>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha del historial</th>
                    <th>ID del animal</th>
                    <th>Estado</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for historial in historiales %}
                <tr>
                    <td>{{ historial.idHistorial }}</td>
                    <td>{{ historial.fechaHistorial }}</td>
                    <td>{{ historial.idAnimal }}</td>
                    <td>{{ 'Activo' if historial.estado == 1 else 'Inactivo' }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>