<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/css/perfil.css">

</head>
<body>
    <div class="header">
        <a  href="inicio.html">
            <img alt="Logo Ganaderos Unidos " class="h-16" height="100" src="../static/imagenes/Logo-pagina.png" width="100"/>
        </a>
        <h1>Perfil</h1>
    </div>
    <div class="container">
        <div class="profile-pic-container">
            <img alt="User profile icon" class="profile-pic" src="../static/imagenes/user-profile-icon-free-vector.jpg"/>
        </div>
            <p>Nombre: </p>
            <p>Apellido: </p>
            <p>Correo electrónico: </p>
            <p>Teléfono: </p>
            <p>Creado: </p>
    </div>
</body>
</html>